<%= form_for(@french) do |f| %>
  <% if @french.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@french.errors.count, "error") %> prohibited this french from being saved:</h2>

      <ul>
      <% @french.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
