<%= form_for(@japanese) do |f| %>
  <% if @japanese.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@japanese.errors.count, "error") %> prohibited this japanese from being saved:</h2>

      <ul>
      <% @japanese.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
